/****** MAIN STYLES *****/

body {
    background-color: #E8E8E8;
}

#vision-board {
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow: auto;
    background-image: url(../img/background.png);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.block {
    border: 1px dashed black;
    float: left;
    box-sizing: border-box;
    width: 400px;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 30px 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.white {
    background-color: #FFFFFF;
}

.dark {
    background-color: #3B3B3B;
}

.highlight {
    background-color: #FFF44F;
    font-size: 18px;
    padding: 6px;
}

strong {
    font-size: 38px;
    line-height: 38px;
    text-transform: capitalize;
}